{% extends 'index.html' %}
{% load static %}
{% load sekizai_tags %}



{% block content %}
    <h1>kalender/index</h1>
    {% for event in events %}

     {{ event }}

    {% endfor %}
    <div class="container">
        <div class="row">
            <h1>Kalender</h1>
        </div>
    
    
        <div id="calendar" class="row">
            {% include 'kalender/kalender/kalender.html' %}
        </div>

    </div>
    {% addtoblock "js" %}

    {% endaddtoblock "js" %}
 
{% endblock content %}

